<div class="row">
  <div class="mini-heading">
      <h5>検索結果</h5>
  </div>
</div>
  <table class='table table-bordered mt-3'>
    <tbody>
      <tr align="center">
        <td>投稿数</td>
        <td><%= search_post %></td>
      </tr>
    </tbody>
  </table>