<div class="container" style="min-height: 600px">

  <div class="row">
    <div class="heading"><h5>退会確認</h5></div>
  </div>

  <div class="row mt-5">
    <div class="mx-auto"><h3>本当に退会しますか？</h3></div>
  </div>

  <div class="row my-5">
    <div class="mx-auto text-center">
      <h4>
        退会すると、会員登録情報や</br>
        これまでの投稿履歴が閲覧できなくなります。</br>
        退会する場合は、「退会する」をクリックしてください。
      </h4>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-6 text-center"><%= link_to "マイページに戻る", mypage_path, class: "btn btn-primary" %></div>
		<div class="col-6 text-center"><%= link_to "退会する", customer_withdraw_customer_path(@customer), method: :patch, "data-confirm" => "OKを押すと退会処理がされます。本当によろしいですか？", class: "btn btn-danger" %></div>
  </div>
</div>