<div class="cotainer">
  <div class="row">
    <div class="mx-auto">
      <div class="thanks-message">
        送信が完了しました。<br>
        貴重な意見ありがとうございます。<br>
        返信に関しましては24時間以内にさせていただきます。<br>
      </div>
    </div>
  </div>
</div>