<div class="about-bg">
  <div class="container">
    
    <div class="row">
      <div class="heading"><h5>ABOUT</h5></div>
    </div>
    
    <div class="row">
      <h5 class="title">
        <span>使</span>
        <span>用</span>
        <span>方</span>
        <span>法</span>
        <span>&</span>
        <span>注</span>
        <span>意</span>
        <span>事</span>
        <span>項</span>
      </h5>
    </div>
    
  </div>
</div>
