<div class="about-bg">
  <div class="container">

    <div class="row py-5">
      <h1 class="mx-auto about-title">
        <span>使</span>
        <span>用</span>
        <span>方</span>
        <span>法</span>
        <span>&</span>
        <span>注</span>
        <span>意</span>
        <span>事</span>
        <span>項</span>
      </h1>
    </div>

    <div class="row my-5">
      <ol class="mx-auto" type="1">
        <li class="explanation">ログイン後、右下のアイコンから新規投稿ができます。</li>
        <li class="explanation">基本的に何を投稿しても構いませんが、個人が特定される内容はお控えください。</li>
        <li class="explanation">
          非表示にすると,それを投稿したユーザーのもの全て非表示になります。解除はマイページより行うことができます。
        </li>
      </ol>
    </div>

  </div>
</div>

