/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

footer {
  padding: 30px 0;
  font-size: 18px;
  background-color: #000;
}
.footer-text {
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
// ページのトップに戻るボタン
#top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#top img {
  width: 50px;
}

// header
.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-around;
}

// 量が少ないページ
@mixin little($color: #000, $fSize: 20px, $mHeight: 600px) {
   color: $color;
   font-size: $fSize;
   min-height: $mHeight;
 }
 .log-in {
    @include little();
 }
 .customer-edit {
    @include little();
 }
 .category-edit {
    @include little();
 }
 .muting-posts {
    @include little();
 }

 @mixin few($mHeight: 600px) {
   min-height: $mHeight;
 }
 .post-index {
   @include few();
 }

// topページ
.top-bg {
  background-image: image-url('top_bg.jpg');
  width: 100%;
  height: 600px;
  background-size: cover;
}
.top-message {
  padding: 80px;
  font-size: 40px;
  text-align: center;
  display: none;
  color: #fff;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

// aboutページ
.about-bg {
  background-image: image-url('about-bg.png');
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 800px;
  background-size: 1000px;
  background-color: #000;
}
// テキストアニメーション
.about-title {
  display: flex;
  overflow: hidden;
  color: #ffa500;
  font-family: 'Josefin Sans', sans-serif;
}
.about-title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.about-title.-visible span {
  transform: translate(0, 0);
}
.about-title span:nth-child(2) {
  transition-delay: 0.06s;
}
.about-title span:nth-child(3) {
  transition-delay: 0.12s;
}
.about-title span:nth-child(4) {
  transition-delay: 0.18s;
}
.about-title span:nth-child(5) {
  transition-delay: 0.24s;
}
.about-title span:nth-child(6) {
  transition-delay: 0.30s;
}
.about-title span:nth-child(7) {
  transition-delay: 0.36s;
}
.about-title span:nth-child(8) {
  transition-delay: 0.42s;
}
.about-title span:nth-child(9) {
  transition-delay: 0.48s;
}

.explanation {
  color: #ffa500;
  font-size: 24px;
  margin: 50px 0;
}
.explanation:nth-child(odd) {
    -webkit-animation: horizontal1 1s ease-in-out infinite alternate;
}
.explanation:nth-child(even) {
    -webkit-animation: horizontal2 1s ease-in-out infinite alternate;
}
.explanation a {
    -webkit-animation: vertical 1s ease-in-out infinite alternate;
}
li:nth-child(1) a {
    -webkit-animation-duration: 1.1s;
}
li:nth-child(2) a {
    -webkit-animation-duration: 1.3s;
}
li:nth-child(3) a {
    -webkit-animation-duration: 1.5s;
}
@-webkit-keyframes horizontal1 {
    0% { -webkit-transform:translateX( -3px); }
  100% { -webkit-transform:translateX(  0px); }
}
@-webkit-keyframes horizontal2 {
    0% { -webkit-transform:translateX(  3px); }
  100% { -webkit-transform:translateX(  0px); }
}
@-webkit-keyframes vertical {
    0% { -webkit-transform:translateY(-10px); }
  100% { -webkit-transform:translateY(  0px); }
}

// 新規登録、ログイン
.contact-form {
  .form-field {
    position: relative;
    margin: 32px 0;
  }
  .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    //選択した時
    &:focus {
      outline: none;
      + .label {
        // 与えられた要素を移動
        transform: translateY(-24px);
      }
    }
    &.not-empty {
      + .label {
        transform: translateY(-24px);
      }
    }
  }
  .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: transform 0.2s ease-in-out;
  }
  .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
}
// 動画背景
.video-content {
  width: 100%;
}
.bg-video1 {
  position: relative;
}
.bg-video2 {
  position: relative;
}
.bg-video1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 200px;
    font-family: 'Papyrus-Condensed',sans-serif;
}
.bg-video2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 210px;
    font-family: 'Papyrus-Condensed',sans-serif;
}

// 見出し
.heading {
  height: 50px;
  margin: 10px;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
  background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
  background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
}
// 小さい見出し
.mini-heading {
  margin-left: 30px;
  position: relative;
  padding: 1rem .5rem 0rem;
}
.mini-heading:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

.category-seach{
  float: left;
  display: inline-flex;
  margin: 5px;
  padding: 10px;
  background-color: #fff;
}

// タグ検索
.tag-heading {
  position: relative;
  display: inline-block;
  height: 50px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #fa4141;
}
.tag-heading:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 25px 30px 25px 0;
  border-style: solid;
  border-color: transparent #fa4141 transparent transparent;
}
.tag-heading:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

a.sort,a.link {
  // expandと差別するため
  color: #000;
  text-decoration: underline;
}

// フラッシュメッセージ
.notice {
  color: #32cd32;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

// ホバーアニメーション
.expand {
	display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}
.expand:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.thanks-message {
  font-size: 40px;
  padding: 200px 100px;
  text-align: center;
}

// 画像拡大
.expand-image:hover {
      opacity: 0.8;
    }
.modal {
      position: fixed;
      // 画面の決まった位置に要素を固定
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      // vh:ビューポート（画面サイズ）に対しての割合。それに対して100%は親要素に対する割合であることに注意
      background-color: rgba(0, 0, 0, 0.8);
      display: none;
    }

.big-img {
  position: relative;
  height: 100vh;
  img {
    object-fit: contain;
    // 画像をトリミングせず、余白を表示してボックスの中央に画像を表示する
    width: 100%;
    height: 100%;
  }
}

.close-btn {
      color: #fff;
      font-size: 40px;
      position: absolute;
      right: 20px;
      top: 0;
    }
.close-btn a {
      color: #fff;
      text-decoration: none;
    }

// 検索
.searchTerm {
  width: 250px;
  border: 3px solid #8EB8FF;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #8EB8FF;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  height: 36px;
  border: 1px solid #8EB8FF;
  background: #8EB8FF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

// 一覧ページ
.create-time {
  font-size: x-small;
}
.text {
  width: 100%; word-wrap: break-word;
  // 超えたら...と表示
  font-family: 'HanziPen SC',sans-serif;
}
// カテゴリー
.sm-tag-heading {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  margin-left: 30px;
  padding: 5px 2rem 0 3rem;
  // rem:文字分
  color: #fff;
  background: #fa4141;
}
.sm-tag-heading:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 16px 30px 16px 0;
  border-style: solid;
  border-color: transparent #fa4141 transparent transparent;
}
.sm-tag-heading:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

// 共感、応援の吹き出し
.ballon {
  position: relative;                  /* 指定した分だけ相対的に移動 */
}
.ballon:hover .ballon-text {
  display: inline;                     /* インライン要素として表示 */
}
 /* --- 吹き出し ------------------ */
.ballon-text {
  display: none;                        /* 要素を非表示 */
  position: absolute;                   /* 親要素を基準 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(255, 127, 127, 0.75);  /* 背景色（透明度） */
  width:180px;                          /* 吹き出し全体の幅 */
  left : 30%;                           /* 表示位置 */
  top : 100%;                           /* 表示位置 */
  margin-top : 12px;                    /* 表示位置 */
  font-size: 80%;                       /* 文字サイズ */
  animation: ballon-textAnime 1s linear;
}
.ballon-text:after{
  border-bottom: 12px solid rgba(255, 127, 127, 0.75);  /* 吹き出し口の高さ・色 */
  border-left: 10px solid transparent;   /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;  /* 吹き出し口の幅１／２ */
  top: -12px;                            /* 吹き出し口の位置調整 */
  left : 5%;                         /* 吹き出し口の横位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}
@keyframes ballon-textAnime{
  // アニメーション開始から終了するまでどのようなアニメーションをするのか指定できるCSSの文法
 100%{ color : black; background:rgba(255, 127, 127, 0.75) }
  50%{ color : black; background:rgba(255, 127, 127, 0.25) }
   0%{ color : white; background:white   }
}

// ボタン
.btn-success {
  box-shadow: 0 3px 0 green;
  position: relative;
}
.btn-success:active {
  box-shadow: none;
  top: 3px;
}
.btn-secondary {
  box-shadow: 0 3px 0 #696969;
  position: relative;
}
.btn-secondary:active {
  box-shadow: none;
  top: 3px;
}
.btn-danger {
  box-shadow: 0 3px 0 #dc143c;
  position: relative;
}
.btn-danger:active {
  box-shadow: none;
  top: 3px;
}
.btn-primary {
  box-shadow: 0 3px 0 blue;
  position: relative;
}
.btn-primary:active {
  box-shadow: none;
  top: 3px;
}
.btn-outline-info {
  box-shadow: 0 5px 0 #00bfff;
  position: relative;
}
.btn-outline-info:active {
  box-shadow: none;
  top: 5px;
}
.btn-outline-success {
  box-shadow: 0 5px 0 green;
  position: relative;
}
.btn-outline-success:active {
  box-shadow: none;
  top: 5px;
}

// 通知
.notification {
  position: relative;
}
.uncheck {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.none-message {
  font-size: 32px;
  padding: 200px 0 30px 0;
  text-align: center;
}

.control-botton {
  bottom: 20px;
  right: 20px;
  left: auto;
}
.sentiment-score {
  font-size: 16px;
}

.new-post { margin-bottom: 10px; }

.wrapper_button { display: flex; gap: 4px; }

// タブメニュー
/* ↓外枠↓ */
.tab-container {
  margin: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
/* ↓タブを横並び↓ */
.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}
/* ↓タブのデザイン↓ */
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
/* ↓タブがアクティブになっている時のデザイン↓ */
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
/* ↓タブの中身↓ */
.tabbox {
  /* ↓タブの中身を最初は非表示↓ */
  display: none;
  /* ↓タブの中身の余白↓ */
  padding: 15px;
}
/* ↓このクラスがついている時だけタブの中身を表示↓ */
.box-show {
  display: block;
}

/* ===== 落ち葉を表示するコンテナのスタイル ===== */
.leaves-container {
  position: relative;
  height: 100%; /* コンテナの高さ */
  width: 100%; /* コンテナの横幅 */
  overflow: hidden; /* コンテナからはみ出した要素を隠す */
}

/* ===== 落ち葉のスタイル ===== */

/* 落ち葉の共通スタイル */
.leaf {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  animation: animate-leaf 8s linear;
}

/* 落ち葉1 */
.leaf-1 {
  background-image: image-url('leaf-1.png');
}

/* 落ち葉2 */
.leaf-2 {
  background-image: image-url('leaf-2.png');
}

/* 落ち葉3 */
.leaf-3 {
  background-image: image-url('leaf-3.png');
}

/* ===== 落ち葉が降るアニメーション ===== */
@keyframes animate-leaf {
  0% {
    opacity: 0;
    top: 0;
    transform: rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 100%;
    transform: rotate(1080deg);
  }
}

@media screen and (max-width: 768px) {
  .sp_td  { width: 230px; }

  .top-bg {
    min-height: 600px;
  }
  .top-message {
    padding: 40px;
    font-size: 36px;
  }

  .explanation {
  margin: 50px 40px;
  }

  .bg-video1 p {
    font-size: 80px;
  }
  .bg-video2 p {
    font-size: 90px;
  }

  .sm-tbody {
    display: block;
    width: 100%;
  }
  .sm-table {
    // display: block;
    width: 100%;
    padding: 6px;
  }

  .text {
  word-break: break-all;
  font-size: 16px;
  // 超えたら...と表示
  font-family: 'HanziPen SC',sans-serif;
}

  .sm-tr {
    max-width: 100%;
  }

  .none-message {
    font-size: 24px;
  }

  @mixin little($color: #000, $fSize: 20px, $mHeight: 600px) {
   color: $color;
   font-size: $fSize;
   min-height: $mHeight;
 }
 .test {
   @include little(white, 20px);
 }
 .customer-edit {
   @include little();
 }
 .category-edit {
   @include little();
 }

}




