/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #c8f3fa;
}

footer {
  padding: 30px 0;
  font-size: 18px;
  font-color: #fff;
  background-color: #ccc;
}

// header
li{
  display: inline-block;
  margin: 0 20px;
}

.top-bg {
  background-image: url('top_bg.jpeg');
  width: 100%;
  height: 600px;
  background-size: cover;
}

li{
  opacity: 0;
}
li.show{
  transition-duration: 0.5s;
  opacity: 1;
}
// .top-bg {
//   height: 1000px;
//   /* 画像ファイルの指定 */
//   background-image: url(top_bg.jpeg);

//   /* 画像を常に天地左右の中央に配置 */
//   background-position: center center;

//   /* 画像をタイル状に繰り返し表示しない */
//   background-repeat: no-repeat;

//   /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
//   background-attachment: fixed;

//   /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
//   background-size: cover;

//   /* 背景画像が読み込まれる前に表示される背景のカラー */
//   background-color: #464646;
// }


// .background {
//   background-image: url("background.png");
//   background-size: contain;                 /* 画像のサイズを指定    */
//   width: 100%;                              /* 横幅のサイズを指定    */
//   height: 1000px;
// }

// 入力フォーム1
.contact-form {
  .form-field {
    position: relative;
    margin: 32px 0;
  }

  .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

    //選択した時
    &:focus {
      outline: none;

      + .label {
        // 与えられた要素を移動
        transform: translateY(-24px);
      }
    }

    &.not-empty {
      + .label {
        transform: translateY(-24px);
      }
    }
  }

  .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: transform 0.2s ease-in-out;
  }

  .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
}

// 左側に2本線が入った見出し
.two-line-heading {
  color: #000000; /* 文字色 */
  padding: 5px 5px 5px 30px; /* 上・右・下・左の余白 */
  position: relative;

  &:before {
    background-color: #696969; /* 左側の線の色 */
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 3px; /* 左端からの位置 */
    width: 5px; /* 左側の線の幅 */
    height: 100%;
  }

  &:after {
    background-color: #d3d3d3; /* 右側の線の色 */
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 12px; /* 左端からの位置 */
    width: 5px; /* 右側の線の幅 */
    height: 100%;
  }
}

// ホバーアニメーション
.expand {
	display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}
.expand:hover {
	cursor: pointer;
	transform: scale(1.1);
}


