<div class="container" style="min-height: 600px;">
  <div class="row">
    <h5 class="heading">通知一覧</h5>
  </div>

  <div class="row">
    <% notifications = @notifications.where.not(visitor_id: current_customer.id) %>
    <!--自分の投稿に対する共感、応援は通知に表示しない-->
    <% if notifications.exists? %>
      <%= render notifications %>
      <%= paginate notifications %>
    <% end %>
    <h1 class="mx-auto my-5 py-5">通知はありません</h1>
  </div>
</div>