<div class='container'>
  <div class='row mt-3'>
    <div class='col'>
      <% if obj.errors.any? %>
        <h4><%= obj.errors.count %>件のエラーが発生しました。</h4>
        <ul>
          <% obj.errors.full_messages.each do|message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>